<!DOCTYPE html>

<h1>Scarves!</h1>

<div class = "form">

  <form action="/products/admin" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div>
      <h4>
        <label for="name-input">Add a Scarf</label>
      </h4>
      <input type="text" id = "name-input" name="name" />
    </div>
    <div>
      <h4>
        <label for="description-input">Scarf Description</label>
      </h4>
      <input type="text" id = "description-input" name="description" />
    </div>
    <div>
      <h4>
        <label for="image-input">Scarf Image</label>
      </h4>
      <input type="text" id = "image-input" name="image_url" />
    </div>
    <div>
      <h4>
        <label for="type-input">Scarf Type</label>
      </h4>
      <input type="text" id = "type-input" name="type" />
    </div>
    <div>
      <h4>
        <label for="price-input">Scarf Price in Cents</label>
      </h4>
      <input type="text" id = "price-input" name="price_in_cents" />
    </div>
    <div class="submit">
      <input type="submit" class="btn btn-default" />
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @products.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |product| %>
            <div class="product col-md-3">
              <%= image_tag product.image_url %>
              <h3><%= link_to product.name, product_edit_path(product.id) %></h3>
              <li><%= product.description %></li>
              <li><%= ProductOption.find_by(product_id: product.id).name %></li>
              <li><%= number_to_currency((ProductOption.find_by(product_id: product.id).price_in_cents) * 0.01) %></li>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
