<div class="container">

    <h1><%= @product.name %></h1>

  <div class = "form">

    <form action="/product/admin/<%= @product.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div>
        <h4>
          <label for="name-input">EDIT Add a Scarf</label>
        </h4>
        <input type="text" id = "name-input" name="name" value="<%= @product.name %>" />
      </div>
      <div>
        <h4>
          <label for="description-input">EDIT Scarf Description</label>
        </h4>
        <input type="text" id = "description-input" name="description" value="<%= @product.description %>" />
      </div>
      <div>
        <h4>
          <label for="image-input">EDIT Scarf Image</label>
        </h4>
        <input type="text" id = "image-input" name="image_url" value="<%= @product.image_url %>" />
      </div>
      <div>
        <h4>
          <label for="type-input">EDIT Scarf Type</label>
        </h4>
        <input type="text" id = "type-input" name="type" value="<%= @product_option.name %>" />
      </div>
      <div>
        <h4>
          <label for="price-input">EDIT Scarf Price in Cents</label>
        </h4>
        <input type="text" id = "price-input" name="price_in_cents" value="<%= @product_option.price_in_cents %>" />
      </div>
      <div class="update">
        <input type="submit" value="Update" class="btn btn-default" />
      </div>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product_details">
          <li><%= image_tag @product.image_url %></li>
          <li><%= @product.description %></li>
          <li><%= @product_option.name %></li>
          <li><%= number_to_currency((@product_option.price_in_cents) * 0.01) %></li>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <form action="/product/admin/<%= @product.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete Product" class="btn btn-default" data-confirm="Delete the product?" />
    </form>
  </div>
</div>
