<h1><%= @product.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="product_details">
        <%= image_tag @product.image_url %>
        <li><%= @product.description %></li>
        <li><%= @product_option.name %></li>
        <li><%= number_to_currency((@product_option.price_in_cents) * 0.01) %></li>
      </div>
    </div>

    <div class="buttons">
      <form action="/scarves/<%= @product.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="submit" value="Add to Cart" class="btn btn-default" />
      </form>
    </div>
  </div>
</div>
